*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include body-flex;
  justify-content: center;
  align-items: center;
  font-family: $font-primary;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: $color;
  background-color: $background-color-main;
  margin: 0;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::placeholder {
  color: #646667;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
