/* здесь используйте глобальные переменные */
$font-primary: "DMSans", "Arial", sans-serif;
$color: #111111;
$background-color-main: #ffffff;
$background-color-generator: #efd2cb;
$background-color-code: #ee9480;
$background-color-button: #abb2e4;
$background-toggle-button: #d65780;
$background-color-range: #c7a27c;
$tablet-width: 1023px;
$desktop-width: 1520px;
$mobile-width-only: 767px;
