/* здесь используйте глобальные переменные */
$font-primary: "DMSans", "Arial", sans-serif;
$primary-color: #1c1d1d;
$secondary-color: #9f86d9;
$basic-background: #ffffff;
$additional-background: #fff5f2;
$extra-background: #dbe2e5;
$tablet-width: 1023px;
$desktop-width: 1514px;
$mobile-width-only: 767px;
